<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vop.dao.mapper.AccountSupportEntityMapper" >
  <resultMap id="BaseResultMap" type="com.example.vop.model.AccountSupportEntity" >
    <id column="ACCOUNT_SUPPORT_ID" property="accountSupportId" jdbcType="DECIMAL" />
    <result column="SUPORT_ID" property="suportId" jdbcType="VARCHAR" />
    <result column="SUPPORT_CONTENT_ID" property="supportContentId" jdbcType="DECIMAL" />
    <result column="API_NAME" property="apiName" jdbcType="VARCHAR" />
    <result column="SWIFT_NUMBER" property="swiftNumber" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="ISSUE_DESCRIPTION" property="issueDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ACCOUNT_SUPPORT_ID, SUPORT_ID, SUPPORT_CONTENT_ID, API_NAME, SWIFT_NUMBER, ORDER_ID, 
    ISSUE_DESCRIPTION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.vop.model.AccountSupportEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from OIP.ACCOUNT_SUPPORT_ENTITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OIP.ACCOUNT_SUPPORT_ENTITY
    where ACCOUNT_SUPPORT_ID = #{accountSupportId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OIP.ACCOUNT_SUPPORT_ENTITY
    where ACCOUNT_SUPPORT_ID = #{accountSupportId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.example.vop.model.AccountSupportEntity" >
    insert into OIP.ACCOUNT_SUPPORT_ENTITY (ACCOUNT_SUPPORT_ID, SUPORT_ID, SUPPORT_CONTENT_ID, 
      API_NAME, SWIFT_NUMBER, ORDER_ID, 
      ISSUE_DESCRIPTION)
    values (#{accountSupportId,jdbcType=DECIMAL}, #{suportId,jdbcType=VARCHAR}, #{supportContentId,jdbcType=DECIMAL}, 
      #{apiName,jdbcType=VARCHAR}, #{swiftNumber,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{issueDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.vop.model.AccountSupportEntity" >
    insert into OIP.ACCOUNT_SUPPORT_ENTITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountSupportId != null" >
        ACCOUNT_SUPPORT_ID,
      </if>
      <if test="suportId != null" >
        SUPORT_ID,
      </if>
      <if test="supportContentId != null" >
        SUPPORT_CONTENT_ID,
      </if>
      <if test="apiName != null" >
        API_NAME,
      </if>
      <if test="swiftNumber != null" >
        SWIFT_NUMBER,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="issueDescription != null" >
        ISSUE_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountSupportId != null" >
        #{accountSupportId,jdbcType=DECIMAL},
      </if>
      <if test="suportId != null" >
        #{suportId,jdbcType=VARCHAR},
      </if>
      <if test="supportContentId != null" >
        #{supportContentId,jdbcType=DECIMAL},
      </if>
      <if test="apiName != null" >
        #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="swiftNumber != null" >
        #{swiftNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="issueDescription != null" >
        #{issueDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.vop.model.AccountSupportEntityExample" resultType="java.lang.Integer" >
    select count(*) from OIP.ACCOUNT_SUPPORT_ENTITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.vop.model.AccountSupportEntity" >
    update OIP.ACCOUNT_SUPPORT_ENTITY
    <set >
      <if test="suportId != null" >
        SUPORT_ID = #{suportId,jdbcType=VARCHAR},
      </if>
      <if test="supportContentId != null" >
        SUPPORT_CONTENT_ID = #{supportContentId,jdbcType=DECIMAL},
      </if>
      <if test="apiName != null" >
        API_NAME = #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="swiftNumber != null" >
        SWIFT_NUMBER = #{swiftNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="issueDescription != null" >
        ISSUE_DESCRIPTION = #{issueDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where ACCOUNT_SUPPORT_ID = #{accountSupportId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.vop.model.AccountSupportEntity" >
    update OIP.ACCOUNT_SUPPORT_ENTITY
    set SUPORT_ID = #{suportId,jdbcType=VARCHAR},
      SUPPORT_CONTENT_ID = #{supportContentId,jdbcType=DECIMAL},
      API_NAME = #{apiName,jdbcType=VARCHAR},
      SWIFT_NUMBER = #{swiftNumber,jdbcType=VARCHAR},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      ISSUE_DESCRIPTION = #{issueDescription,jdbcType=VARCHAR}
    where ACCOUNT_SUPPORT_ID = #{accountSupportId,jdbcType=DECIMAL}
  </update>
</mapper>