<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vop.dao.mapper.BillingSupportEntityMapper" >
  <resultMap id="BaseResultMap" type="com.example.vop.model.BillingSupportEntity" >
    <id column="BILLING_SUPPORT_ID" property="billingSupportId" jdbcType="DECIMAL" />
    <result column="SUPORT_ID" property="suportId" jdbcType="VARCHAR" />
    <result column="SUPPORT_CONTENT_ID" property="supportContentId" jdbcType="DECIMAL" />
    <result column="CDR_TYPE" property="cdrType" jdbcType="DECIMAL" />
    <result column="CDR_FILE" property="cdrFile" jdbcType="VARCHAR" />
    <result column="CDR_NUMBER" property="cdrNumber" jdbcType="VARCHAR" />
    <result column="ISSUE_DESCRIPTION" property="issueDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BILLING_SUPPORT_ID, SUPORT_ID, SUPPORT_CONTENT_ID, CDR_TYPE, CDR_FILE, CDR_NUMBER, 
    ISSUE_DESCRIPTION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.vop.model.BillingSupportEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from OIP.BILLING_SUPPORT_ENTITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OIP.BILLING_SUPPORT_ENTITY
    where BILLING_SUPPORT_ID = #{billingSupportId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OIP.BILLING_SUPPORT_ENTITY
    where BILLING_SUPPORT_ID = #{billingSupportId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.example.vop.model.BillingSupportEntity" >
    insert into OIP.BILLING_SUPPORT_ENTITY (BILLING_SUPPORT_ID, SUPORT_ID, SUPPORT_CONTENT_ID, 
      CDR_TYPE, CDR_FILE, CDR_NUMBER, 
      ISSUE_DESCRIPTION)
    values (#{billingSupportId,jdbcType=DECIMAL}, #{suportId,jdbcType=VARCHAR}, #{supportContentId,jdbcType=DECIMAL}, 
      #{cdrType,jdbcType=DECIMAL}, #{cdrFile,jdbcType=VARCHAR}, #{cdrNumber,jdbcType=VARCHAR}, 
      #{issueDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.vop.model.BillingSupportEntity" >
    insert into OIP.BILLING_SUPPORT_ENTITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="billingSupportId != null" >
        BILLING_SUPPORT_ID,
      </if>
      <if test="suportId != null" >
        SUPORT_ID,
      </if>
      <if test="supportContentId != null" >
        SUPPORT_CONTENT_ID,
      </if>
      <if test="cdrType != null" >
        CDR_TYPE,
      </if>
      <if test="cdrFile != null" >
        CDR_FILE,
      </if>
      <if test="cdrNumber != null" >
        CDR_NUMBER,
      </if>
      <if test="issueDescription != null" >
        ISSUE_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billingSupportId != null" >
        #{billingSupportId,jdbcType=DECIMAL},
      </if>
      <if test="suportId != null" >
        #{suportId,jdbcType=VARCHAR},
      </if>
      <if test="supportContentId != null" >
        #{supportContentId,jdbcType=DECIMAL},
      </if>
      <if test="cdrType != null" >
        #{cdrType,jdbcType=DECIMAL},
      </if>
      <if test="cdrFile != null" >
        #{cdrFile,jdbcType=VARCHAR},
      </if>
      <if test="cdrNumber != null" >
        #{cdrNumber,jdbcType=VARCHAR},
      </if>
      <if test="issueDescription != null" >
        #{issueDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.vop.model.BillingSupportEntityExample" resultType="java.lang.Integer" >
    select count(*) from OIP.BILLING_SUPPORT_ENTITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.vop.model.BillingSupportEntity" >
    update OIP.BILLING_SUPPORT_ENTITY
    <set >
      <if test="suportId != null" >
        SUPORT_ID = #{suportId,jdbcType=VARCHAR},
      </if>
      <if test="supportContentId != null" >
        SUPPORT_CONTENT_ID = #{supportContentId,jdbcType=DECIMAL},
      </if>
      <if test="cdrType != null" >
        CDR_TYPE = #{cdrType,jdbcType=DECIMAL},
      </if>
      <if test="cdrFile != null" >
        CDR_FILE = #{cdrFile,jdbcType=VARCHAR},
      </if>
      <if test="cdrNumber != null" >
        CDR_NUMBER = #{cdrNumber,jdbcType=VARCHAR},
      </if>
      <if test="issueDescription != null" >
        ISSUE_DESCRIPTION = #{issueDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where BILLING_SUPPORT_ID = #{billingSupportId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.vop.model.BillingSupportEntity" >
    update OIP.BILLING_SUPPORT_ENTITY
    set SUPORT_ID = #{suportId,jdbcType=VARCHAR},
      SUPPORT_CONTENT_ID = #{supportContentId,jdbcType=DECIMAL},
      CDR_TYPE = #{cdrType,jdbcType=DECIMAL},
      CDR_FILE = #{cdrFile,jdbcType=VARCHAR},
      CDR_NUMBER = #{cdrNumber,jdbcType=VARCHAR},
      ISSUE_DESCRIPTION = #{issueDescription,jdbcType=VARCHAR}
    where BILLING_SUPPORT_ID = #{billingSupportId,jdbcType=DECIMAL}
  </update>
</mapper>